body {
	font-family: 'Hachi Maru Pop', cursive;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: rgb(143, 186, 226);
}

header h1 {
	color: aliceblue;
	font-weight: 100;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
}

.contas {
	width: 250px;
}

.colunm {
	margin: 0 5px;
	justify-content: right;
	flex: 1;
	flex-flow: column nowrap;
}

li {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	padding: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	min-width: 200px;
	background-color: rgb(160, 160, 255);
}

li:nth-child(even) {
	background-color: rgb(103, 158, 185);
}

.inside {
	background-color: rgb(167, 167, 167);
	padding: 20px;
}

.previwer {
	height: 200px;
	width: 400px;
	background-color: aliceblue;
}

.botao {
	margin: 10px 0;
	border: none;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	flex-flow: column wrap;
	height: 50px;
	background-image: linear-gradient(to bottom, rgb(41, 41, 41), gray);
}

.check {
	height: 100%;
	width: 15px;
	align-self: flex-start;
}

.fa-times {
	color: rgb(233, 61, 61);
}

.fa-check {
	color: rgb(30, 143, 30);
}

.animacao {
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 5%;
	top: 15%;
	height: 200px;
	width: 100px;
}
